@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "Default1")
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    @Html.Action("Navbar", "Default1")
    @Html.Action("Slider", "Default1")
    @Html.Action("Counter", "Default1")
    @Html.Action("About", "Default1")
    @Html.Action("Skills", "Default1")
    @Html.Action("Services", "Default1")
    @Html.Action("Banner", "Default1")
    @Html.Action("Projects", "Default1")
    @Html.Action("Testimonial", "Default1")
    @Html.Action("Contact", "Default1")
    @Html.Action("Footer", "Default1")

</body>
</html>