@model List<AcunMedyaAkademiPortfolio.Models.TblContact>

@{
    ViewBag.Title = "Mesajlar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Mail</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Tarih</th>
        <th>Sil</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactId</td>
            <td>@item.ContactName</td>
            <td>@item.ContactMail</td>
            <td>@item.ContactSubject</td>
            <td>@item.ContactMessage</td>
            <td>@item.CreateDate</td>
            <td>
                <form action="/Contact/DeleteContact" method="post">
                    <input type="hidden" name="id" value="@item.ContactId" />
                    <button type="submit" class="btn btn-danger">Sil</button>
                </form>
            </td>
        </tr>
    }


</table>

